 {% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}

  <table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
  {% for car in cars %}
      <tr>
      <td>{{ car.make }}</td>
      <td>{{ car.model }}</td>
      <td>{{ car.year }}</td>
    </tr>
  {% endfor %}
</tbody>


{% block javascripts %}

{% endblock %}

{% endblock %}


